.VideoCard{
    padding-bottom: 40px;
    width: 270px;
}

.VideoCard_thumbnail {
    height: 140px;
    width: 250px;
}

.VideoCard_info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.VideoCard_text{
    margin-left: 15px;

}

.VideoCard_text >h4{
    font-size: 14x;
    margin-bottom: 5px;
}


.VideoCard_text >p{
    font-size: 14px;
    color: gray;
}


.VideoCard_avatar{
height: 30px;
width: 30px;
}
